<h2>Cashbook</h2>

<h3>Receipt</h3>
<style>
    th {
        padding: 10px;
    }
    h3 {
        color: brown;
    }
</style>

<table>
    <tr>
        <th>Receipt No.</th>
        <th>Cash</th>
        <th>Bank</th>
        <th>RMI</th>
        <th>P. Emolument</th>
    </tr>
    <!-- Add rows for receipts -->
    {% for receipt in receipts %}
        <tr>
            <td>{{ receipt.date_received }}</td>
            <td>{{ operations_cash_account.balance }}</td>
            <td>{{ receipt.amount }}</td>
            <td>{{ repairs_maintenance_improvement.amount_budgeted }}</td>
            <td>{{ personal_emolument.amount_budgeted }}</td>
        </tr>
    {% endfor %}
</table>