<h2>Cash Receipt Detail</h2>
    <table class="table table-bordered">
        <tr>
            <th>Account</th>
            <td>{{ receipt.account }}</td>
        </tr>
        <tr>
            <th>Received From</th>
            <td>{{ receipt.received_from }}</td>
        </tr>
        <tr>
            <th>Amount</th>
            <td>{{ receipt.amount }}</td>
        </tr>
        <tr>
            <th>Date Received</th>
            <td>{{ receipt.date_received }}</td>
        </tr>
    </table>