<h2>Cashbook</h2>

<h3>Receipts</h3>
<style>
    th {
        padding: 10px;
    }
    td {
        padding: 10px;
    }
    h3 {
        color: white;
        background-color: green;
    }
</style>

<table>
    <tr>
        <th>Receipt No.</th>
        <th>Carried Forward</th>
        <th>Cash</th>
        <th>Bank</th>
        <th>Total</th>
        <th>Budget</th>
        {% for votehead in voteheads %}
            <th>{{ votehead.name }}</th>
        {% endfor %}
    </tr>
    {% for receipt in checkreceipts %}
        <tr>
            <td>{{ receipt.date_received }}</td>
            <td></td>
            <td></td>
            <td>{{ receipt.amount }}</td>
            <td></td>
            <td></td>
            {% for votehead in voteheads %}
                {% for budget in receipt.budgets.all %}
                    {% if budget.votehead == votehead %}
                        <td>{{ budget.amount }}</td>
                    {% endif %}
                {% endfor %}
            {% empty %}
                <td></td>
            {% endfor %}
        </tr>
        {% for budget in receipt.budgets.all %}
            <tr>
                <td></td>
                <td>{{ budget.votehead }}</td>
                <td></td>
                <td></td>
                <td>{{ budget.amount }}</td>
                <td></td>
                {% for votehead in voteheads %}
                    {% if budget.votehead == votehead %}
                        <td>{{ budget.amount }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% empty %}
        <tr>
            <td colspan="7">No cheque receipts found for the selected month and year.</td>
        </tr>
    {% endfor %}
    {% for receipt in cashreceipts %}
        <tr>
            <td>{{ receipt.date_received }}</td>
            <td></td>
            <td>{{ receipt.amount }}</td>
            <td></td>
            <td></td>
            <td></td>
            {% for votehead in voteheads %}
                <td></td>
            {% endfor %}
        </tr>
    {% empty %}
        <tr>
            <td colspan="7">No cash receipts found for the selected month and year.</td>
        </tr>
    {% endfor %}
</table>



<h3>Payments</h3>
<table>
    <tr>
        <th>Date</th>
        <th>To Whom Paid</th>
        <th>VR</th>
        <th>Cheque No.</th>
        <th>Cash</th>
        <th>Bank</th>
        <th>Total</th>
        {% for votehead in voteheads %}
            <th>{{ votehead.name }}</th>
        {% endfor %}
    </tr>
    {% for payment in payment_vouchers %}
    {% if payment.payment_type == 'cash' %}
        <tr>
            <td>{{ payment.date }}</td>
            <td>{{ payment.payee_name }}</td>
            <td>{{ payment.voucher_number }}</td>
            <td></td>
            <td>{{ payment.amount }}</td>
            <td></td>
            <td>{{ payment.total_amount }}</td>
            {% for votehead in voteheads %}
                {% if votehead == payment.votehead %}
                    <td>{{ payment.amount }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endif %}
    {% if payment.payment_type == 'cheque' %}
        <tr>
            <td>{{ payment.date }}</td>
            <td>{{ payment.payee_name }}</td>
            <td>{{ payment.voucher_number }}</td>
            <td>{{ payment.cheque_number }}</td>
            <td></td>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.total_amount }}</td>
            {% for votehead in voteheads %}
                {% if votehead == payment.votehead %}
                    <td>{{ payment.amount }}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endif %}
{% endfor %}

</table>
