<h2>Cashbook</h2>

<h3>Receipt</h3>
<style>
    th {
        padding: 10px;
    }
    td {
        padding: 10px;
    }
    h3 {
        color: brown;
    }
</style>

<table>
    <tr>
        <th>Receipt No.</th>
        <th>Cash</th>
        <th>Bank</th>
        {% for votehead in voteheads %}
            <th>{{ votehead.name }}</th>
        {% endfor %}
        </tr>
    </tr>
    <!-- Add rows for receipts -->
        {% for receipt in checkreceipts %}
            <tr>
                <td>{{ receipt.date_received }}</td>
                <td></td>
                <td>{{ receipt.amount }}</td>
                {% for votehead in voteheads %}
                    <td>{{ votehead.amount_budgeted }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        {% for receipt in cashreceipts %}
            <tr>
                <td>{{ receipt.date_received }}</td>
                <td>{{ latest_cash_receipt.amount }}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
</table>
