<h1>Receipts</h1>
    <style>
        th {
        padding: 10px 20px;
        }
    </style>
  <table>
    <thead>
      <tr>
        <th>Receipt Number</th>
        <th>Date Received</th>
        <th>Amount</th>
        <th>Received From</th>
      </tr>
    </thead>
    <tbody>
        {% for receipt in bank_receipts %}
        <tr>
            <td>{{ receipt.id }}</td>
            <td>{{ receipt.date_received }}</td>
            <td>{{ receipt.amount }}</td>
            <td>{{ receipt.received_from }}</td>
          </tr>
        {% endfor %}
        {% for receipt in cash_receipts %}
        <tr>
          <td>{{ receipt.id }}</td>
          <td>{{ receipt.date_received }}</td>
          <td>{{ receipt.amount }}</td>
          <td>{{ receipt.received_from }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>