<h1>Receipts</h1>
    <style>
        th {
        padding: 10px 20px;
        }
    </style>
  <table>
    <thead>
      <tr>
        <th>Receipt Number</th>
        <th>Date Received</th>
        <th>Amount</th>
        <th>Received From</th>
      </tr>
    </thead>
    <tbody>
        {% for receipt in bank_receipts %}
        <tr>
            <td>{{ receipt.id }}</td>
            <td>{{ receipt.date_received }}</td>
            <td>{{ receipt.amount }}</td>
            <td>{{ receipt.received_from }}</td>
            <td><a href="{% url 'receipt_detail' receipt_type='cheque' receipt_id=receipt.id %}">View</a></td>
        </tr>
        {% endfor %}
        {% for receipt in cash_receipts %}
        <tr>
          <td>{{ receipt.id }}</td>
          <td>{{ receipt.date_received }}</td>
          <td>{{ receipt.amount }}</td>
          <td>{{ receipt.received_from }}</td>
          <td><a href="{% url 'receipt_detail' receipt_type='cash' receipt_id=receipt.id %}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>


  {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <title>My Accounting Software Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/receipts.css' %}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="top-section">
                <div class="menu-control">
                    <span class="material-icons-sharp" id="menu-icon">menu</span>
                    <span class="material-icons-sharp" id="close-icon">close</span>
                </div>
                <div class="sidebar-header">
                    <h3>Accounts</h3>
                </div>
            </div>
            <ul class="sidebar-menu">
                <li>
                    <span class="material-icons-sharp">space_dashboard</span>
                    <a href="Operations/operations.html">Operations</a>
                </li>
                <li>
                    <span class="material-icons-sharp">space_dashboard</span>
                    <a href="#">Tuition</a>
                </li>
                <li>
                    <span class="material-icons-sharp">space_dashboard</span>
                    <a href="#">School Fund</a>
                </li>
            </ul>
        </div>        
        <div class="main-content">
            <div class="main-top">
                <h1>Receipts</h1>
                <ul class="operation-links">
                    <li>
                        <a href="#">OtherDocs</a>
                    </li>
                    <li>
                        <a href="#">Cashbooks</a>
                    </li>
                    <li>
                        <a href="#">Ledgers</a>
                    </li>
                    <li>
                        <a href="#">TrialBalances</a>
                    </li>
                </ul>
            </div>
            <div class="main-bottom">
                <a href="#" class="create-receipt-button">Create</a>
                <div class="receipt-list">
                    <div class="receipt-header">
                        <div class="receipt-col"><span>Receipt No.</span></div>
                        <div class="receipt-col"><span>Date Received</span></div>
                        <div class="receipt-col"><span>Amount</span></div>
                        <div class="receipt-col"><span>From</span></div>
                        <div class="receipt-col"><span>Action</span></div>
                    </div>
                    <div class="receipt-row">
                        <div class="receipt-header-responsive">
                            <div class="receipt-col"><span>Receipt No.</span></div>
                            <div class="receipt-col"><span>Date Received</span></div>
                            <div class="receipt-col"><span>Amount</span></div>
                            <div class="receipt-col"><span>From</span></div>
                            <div class="receipt-col"><span>Action</span></div>
                        </div>
                        {% for receipt in bank_receipts %}
                        <div class="receipt-row-col">
                            <div class="receipt-col"><span>{{ receipt.id }}</span></div>
                            <div class="receipt-col"><span>{{ receipt.date_received }}</span></div>
                            <div class="receipt-col"><span>{{ receipt.amount }}</span></div>
                            <div class="receipt-col"><span>{{ receipt.received_from }}</span></div>
                            <div class="receipt-col"><button><a href="{% url 'receipt_detail' receipt_type='cheque' receipt_id=receipt.id %}">View</a></button></div>
                        </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
                 
        </div>
    </div>    
</body>
</html>
<script src="{% static 'js/receipts.js' %}"></script>